{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">TASKMASTER</h1>
    <p class="lead">All the information is on the task!</p>
  </div>

  <h2>My Tasks</h2>
    <form method="POST">
            {% for item in items %}
              {% if item.status == 'Done' %}
                <input type="checkbox" id="action" name="action" value={{item.id}} class="form-check-input">
                <label for="action" style="color:grey" class="form-check-label">{{item.title}}</label> 
                <span class="badge bg-primary rounded-pill">DONE</span><br>
              {% else %}
                <input type="checkbox" id="action" name="action" value={{item.id}} class="form-check-input">
                <label for="action" style="color:black" class="form-check-label"> {{item.title}}</label><br>
              {% endif %}
            {% endfor %}
            <br>
      <button class="btn btn-primary mb-3" formaction="/done" formmethod="POST">Done</button>
      <button class="btn btn-primary mb-3" formaction="/delete" formmethod="POST">Delete</button>
    </form>
  <h3>New Task</h3>
    <form class="row g-3" method="POST">
      <div class="col-auto">
        <label for="title" class="form-label">Task:</label>
      </div>
      <div class="col-auto">
        <input type="text" id="title" name="title" required min="1" class="form-control">
      </div>
      <div class="col-auto">
        <button name="add" class="btn btn-primary mb-3" formaction="/add" formmethod="POST">Add</button>
      </div>
    </form>

{% endblock %}