{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">TASKMASTER</h1>
    <p class="lead">All the information is on the task!</p>
  </div>

  <h2>My Tasks</h2>
    <form class="col-auto" method="POST">
      <div class="row">
        <div class="col-auto">
          <h5>To Do</h5>
              {% for item in view_model.to_do_items %}
                  <input type="checkbox" id="action" name="action" value={{item.id}} class="form-check-input">
                  <label for="action" style="color:black" class="form-check-label">{{item.name}}</label><br>
              {% endfor %}<br>
        </div>
        <div class="col-auto">
          <h5>Done</h5>
              {% for item in view_model.done_items %}
                  <input type="checkbox" id="action" name="action" value={{item.id}} class="form-check-input">
                  <label for="action" style="color:grey" class="form-check-label">{{item.name}}</label>
                  <span class="badge bg-primary rounded-pill">DONE</span><br>
              {% endfor %} <br>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <button class="btn btn-primary mb-3" formaction="/done" formmethod="POST">Done</button>
          <button class="btn btn-primary mb-3" formaction="/delete" formmethod="POST">Delete</button>
        </div>
      </div>
    </form>
  <h3>New Task</h3>
    <form class="row g-3" method="POST">
      <div class="col-auto">
        <label for="name" class="form-label">Task:</label>
      </div>
      <div class="col-auto">
        <input type="text" id="name" name="name" required min="1" class="form-control">
      </div>
      <div class="col-auto">
        <button name="add" class="btn btn-primary mb-3" formaction="/add" formmethod="POST">Add</button>
      </div>
    </form>

{% endblock %}