{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <h2>Items</h2>
    <form method="POST">
            {% for item in items %}
              {% if item.status == 'Done' %}
                <input type="checkbox" id="done" name="done" value={{item.id}} disabled class="form-check-input">
                <label for="done" class="form-check-label"> {{item.title}}</label> 
                <span class="badge bg-primary rounded-pill">DONE</span><br>
              {% else %}
                <input type="checkbox" id="done" name="done" value={{item.id}} class="form-check-input">
                <label for="done" style="color:black" class="form-check-label"> {{item.title}}</label><br>
              {% endif %}
            {% endfor %}
      <button name="done" class="btn btn-primary mb-3">Done</button>
    </form>
  <h3>Add Item</h3>
    <form class="row g-3" method="POST">
      <div class="col-auto">
        <label for="title" class="form-label">Title:</label>
      </div>
      <div class="col-auto">
        <input type="text" id="title" name="title" required min="1" class="form-control">
      </div>
      <div class="col-auto">
        <button name="addItem" class="btn btn-primary mb-3">Add</button>
      </div>
    </form>

{% endblock %}